:root {
  --clight: hsl(0, 0.5%, 99.83%);
  --slate: #7D93A0;
  --gold: #BF8828;
  --ngrey: #7D8696;
  --ocean-blue: #264969;
}


*, ::before, ::after {
  box-sizing: border-box;
}

#root {
  min-height: 100dvh;
  background: var(--clight);
}

main {
   background: var(--clight); 
}

header {
  min-height: 5rem;
  /* background: var(--clight); */
  /* border-bottom: 1px solid var(--ocean-blue); */
  /* box-shadow:  -1rem -1rem var(--ocean-blue);  */
}

.navbar-brand img{
  width: 180px;
  height: auto;
} 

footer {
  min-height: 5rem;
  background: var(--clight);
  color: var(--ocean-blue);
}

footer i {
  font-size: 2rem;
}
footer li{
  line-height: 2.2rem;
}

.full-height {
  min-height: 100%;
}

.landing-image{
  width:100%;
  height: auto;
}

.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .flex-fill {
  flex: 1 1 auto;
}
 */